<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">

    <img src="./Admin.JPG" alt="Sales Spark Logo">
    
    <h1 class="navbar-brand">Welcome Admin </h1>

    <div class="d-flex align-items-center">

      <div class="dropdown m-2">
        <a href="#" class="user-icon" id="userDropdown" data-bs-toggle="dropdown">
          <i class="fa-regular fa-user"></i>

        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li><button class="dropdown-item text-success" id="logoutBtn"><i class="fa-solid fa-user me-2"></i> Profile</button></li>
          <li><hr class="dropdown-divider"></li>
          <li><button class="dropdown-item text-success" id="logoutBtn"><i class="fa-solid fa-sign-out-alt me-2"></i> Logout</button></li>
        </ul>
      </div>

    </div>
  </div>
</nav>


<!-- Main Layout: Sidebar + Content -->
<div class="main-layout">
  <!-- Sidebar with Menu Items -->
  <div class="sidebar">
    <!-- Menu Items -->
    <div class="sidebar">
      <a routerLink="#">Dashboard</a>
      <a routerLink="#">Users <i class="fas fa-users"></i></a>
      <a routerLink="#">Auditors <i class="fas fa-user-secret"></i></a>
      <a routerLink="#">Brands <i class="fas fa-shopping-bag"></i></a>
      <a routerLink="#">Deals <i class="fas fa-tag"></i></a>
      <a routerLink="#">Reports <i class="fas fa-chart-line"></i></a>
      <a routerLink="#">Settings <i class="fas fa-cog"></i></a>
    </div>



  </div>

  <div class="content">
   

  </div>
  
      

    

</div>
