<div class="container" id="container">
      <div class="form-container sign-in-container">
        <form action="#">
          <h1>Welcome Back </h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social"><i class="fab fa-google"></i></a>
            <a href="#" class="social"><i class="fa-brands fa-x-twitter"></i></a>
          </div>
          <span>or use your account</span>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button>Log in</button>
          <div class="d-flex justify-content-center gap-3">
            <a href="#">Forgot password?</a>
            <a href="#">Register Now</a>
          </div>
</form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
           <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
         
          <img src="/Login.jpg" alt="LoginImage" />
         
        </div>
      </div>
    </div>
  </div>


